#hamburgermenu{
    width: 30px;
    height: 20px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    
}
#hamburgermenu span{
    width: 100%;
    height: 5px;
    display: block;
    background-color: black;
}

#sidebar{
    width: 40%;
    border: 2px solid black;
    border-radius: 2px;
    background-color: darkgrey;
   color: white;
   position: fixed;
   top: 0;
   left: -100%;
}
#sidebar.active{
    left: 0;;
}
#portal:hover{
background-color: darkorchid;
}
#helbhef:hover{
background-color: darkorchid;
}

.movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: 12px;
}

.movie-card {
  border: 1px solid #ddd;
  padding: 8px;
  border-radius: 6px;
  text-align: center;
}

.movie-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

#spinner{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 8px solid blue;
    border-top:8px solid black ;
    animation:spin 1s linear infinite;
}
@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
    
}

#spinners{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 8px solid blue;
    border-top:8px solid black ;
    animation:spins 1s linear infinite;
}
@keyframes spins{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
    
}